@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

.container{
  min-height: calc(100vh - 70px - 7vh);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
/*#0a0d14 #28364e #556ff7 #ffffff*/

.local_fav{
  border-radius: 20px;
  margin: 10px 10px;
  background-color: #ffffff;
  width: 50%;
  min-height: 330px;
  display: flex;
  flex-direction: column;
  color: black;
  font-family: 'Noto Sans', sans-serif;
}

.local_fav_A{
  border-start-end-radius: 20px;
  border-start-start-radius: 20px;
  display: flex;
  justify-content: space-between;
  background-color: #0a0d14;
}


.local_fav_A_btn{
  margin: 5px;
  height: 28px;
  width: 28px;
  border-radius: 10px;
  background-color: rgb(235, 68, 68);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}

.container_no_fav h1{
  background-color: #758298;
  padding: 10px;
  color: #0a0d14;
  margin-top: -10%;
  font-family: 'Kanit', sans-serif;
}