.Container{
  min-width: 100%;
}

/*#0a0d14 #28364e #556ff7 #ffffff*/

.container{
  color: white;
  display: flex;
  padding:20px;
  justify-content: center;
  flex-direction: column;
  background-color: #28364e;
  max-width: 40%;
  margin: 1.6% auto;
  border-radius:10px;
  min-height:calc(100vh - 70px - 7vh) ;
}
.buy{
  display: flex;
  flex-direction: row;
}
.form{
  margin: 0 auto;
  width: 100%;
  display: flex;
  gap: 0.3rem;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.form input{
  margin: 7px;
  border-radius:4px;
  border: none;
  width: 100%;
  text-align: center;

}
.form .tittle{
  width: 80%;
}
.form select{
  border-radius:4px;
  border: none;
  background-color: rgba(255, 255, 255, 0.178);
  color: #fff;
}
.form option{
  color: rgb(0, 0, 0);
}
.description{
  resize: none;
  width: 100%;
  overflow: hidden;
  min-height: 100px;
}
.boton{
  border-radius:4px;
  border: none;
  padding: 3px;
  width: 50%;
  background-color: rgba(255, 255, 255, 0.178);
  color: #fff;
}
.cat{
  display: flex;
  align-items: center;
}
.category{
  margin: 5px;
}
h1{
  background-color: rgba(255, 255, 255, 0.178);
  color: #fff;
  border-radius: 5px;
  padding: 3px;
}
.payment{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.divImg{
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items:center;
}
.divImg img{
  max-width: 150px;
  max-height: 150px;
}