.Container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 2rem;
  margin: 0 auto;
}

.container{
  max-width: 50%;
  display: flex;
  justify-content:center;
  align-items:center;
  margin-left: 18%;
}

.container span{
  color: rgb(24, 16, 16);
  margin: 0px 0.3%;
  background-color: #131B21;
  border-radius: 10px;
  width: 50px;
  list-style: none;
  line-height: 2rem;
  text-align: center;
}

.container span button{
  display: block;
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  border-radius: 10px;
  width: 100%;
  cursor: pointer;
}

.container span:hover button{
  background:#acacac ;
  color: #fff;
}

.btn{
  color: white;
  font-size: 1.1rem;
  border: none;
  background-color: #131B21;
  border-radius: 6px;
}

.number{
  background-color: #28364E;
  color: black;
}

@media screen and (max-width:1000px){
  .Container{
   display: flex;
   align-items: center;
   justify-content: center;
   width: 100%;
   padding: 2rem;
   margin: 0 auto;
  }
  .container{
    max-width: 90%;
    margin-left: -15%;
  }