.Container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 2rem;
  margin: 0 auto;
}

.paginated {
  display: flex;
}

@media screen and (max-width:1000px) {
  .paginated {
    display: none;
  }
}

.container {
  max-width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 18%;
  
}

.container span {
  color: white;
  margin: 0px 0.3%;
  background-color: #131B21;
  border-radius: 10px;
  width: 40px;
  height: 40px;
  list-style: none;
  text-align: center;
  border: none;
}

.container span button {
  display: block;
  text-decoration: none;
  color: #ffffff;
  font-weight: 600;
  border-radius: 10px;
  width: 100%;
  cursor: pointer;
  border: none;

}

.container span:hover button {
  background: #28364E;
  color: #fff;
}

.btn {
  color: white;
  margin: 0px 0.3%;
  background-color: #131B21;
  border-radius: 10px;
  width: 40px;
  height: 40px;
  list-style: none;
  text-align: center;
  border: none;
}

.number {
  background-color: #28364E;
  height: 40px;
  width: 40px;
  color: black;
}

.number2 {
  background-color: #151E22;
  height: 40px;
  width: 40px;
}

@media screen and (max-width:1000px) {
  .Container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 2rem;
    margin: 0 auto;
  }

  .container {
    max-width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -4%;
  }

  .container span {
    color: white;
    margin: 0px 0.3%;
    background-color: #131B21;
    border-radius: 10px;
    width: 40px;
    list-style: none;
    line-height: 45px;
    text-align: center;
  }

  .btn {
    text-decoration: none;
    color: #fff;
    font-weight: 800;
    border-radius: 8px;
    cursor: pointer;
    padding: 0.75em;
    background-color: #131B21;
  }
}