.Container{
  display: flex;
  width: 60%;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-left: 30%;
}

.container{
  max-width: 100%;
  border-radius: 10px;
  margin: 3% 1%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container li{
  color: white;
  margin: 0px 0.3%;
  background-color: #151E22;
  border-radius: 10px;
  width: 50px;
  list-style: none;
  line-height: 50px;
  text-align: center;
}

.container li a{
  display: block;
  text-decoration: none;
  color: #ffffff;
  font-weight: 600;
  border-radius: 10px;
  cursor: pointer;
}

.container li:hover a{
  background:#acacac ;
  color: #fff;
}

.btn{
  color: white;
  height: 15%;
  width: 4%;
  border: none;
  background-color: #151E22;
}

.number{
  background-color: rgb(61, 65, 106);
  color: black;
}