.container{
  display: flex;
  flex-direction: column;
  min-height:calc(100vh - 70px - 7vh) ;
  background-color: #c4cbca;
}

.container_home{
  display: flex;
  width: 100%;
  height: 100%;
}

.container_filters{
  width: 84%;
}

@media screen and (max-width:1000px){
.container_filters{
  width: 100%;
}
}

