.container{
  background-color: rgb(83, 100, 207);
  height: 70px;
}

.container_logo{
  width: 40px;
  height: 40px;
}

.container_nav{
  z-index: 1;
}

.container_desktop{
  display: flex;
  justify-content: space-between;
}

.container_desktop h2{
  color: white;
  text-decoration: none;
}

@media screen and (max-width:1000px){
  .container_desktop{
    display: none;
  }
}

.mobile{
  display: none;
}

@media screen and (max-width:1000px){
  .mobile{
    display: inline;
  }
}

.actions button{
  border:none;
  background-color: transparent;
  color: white;
}