.container{
  background-color: #151e22;
  height: 70px;
}

.container_logo{
  width: 40px;
  height: 40px;
}

.container_nav{
  z-index: 1;
}

.container_desktop{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container_desktop h2{
  color: white;
  text-decoration: none;
}

@media screen and (max-width:1000px){
  .container_desktop{
    display: none;
  }
}

.mobile{
  display: none;
}

@media screen and (max-width:1000px){
  .mobile{
    display: inline;
  }
}

.actions button{
  border:none;
  background-color: transparent;
  color: white;
}
.boton{
  border-radius:4px;
  border: none;
  padding: 3px;
  background-color: rgba(255, 255, 255, 0.178);
  color: #fff;
  font-size: 0.9rem;
  margin-left: 90%;
}