.container{
  color:rgb(0, 0, 0);
  min-height:calc(100vh - 70px - 7vh) ;
}
.container h1{
  color:rgb(36, 36, 36);
}

/* .adressMap {
  margin: 10% 10%;
  min-width: 1200px;
  margin: 0 auto;
} */

.adress {
 display: grid;
 grid-template-columns: 1fr 1fr;
 grid-template-rows: 1fr 1fr 1fr;
 max-width: 700px;
 margin: 0% auto;
 margin-top: 2%;
 text-align: left;
 font-size: 1.2rem;
 font-weight: bolder;
}

.phone {
  text-decoration: underline;
}

@media screen and (max-width: 800px) {
  .adress{
    grid-template-columns: 1fr;
    grid-template-rows: 16% 16% 16% 16% 16% 16%;
  }
}