.container{
  color: #fff;
  min-height:calc(100vh - 70px - 7vh) ;
}
.container input{
  margin: 2px;
  border-radius:4px;
  border: none;
}
.boton{
  border-radius:4px;
  border: none;
  padding: 3px;
  width: 20%;
  background-color: rgba(255, 255, 255, 0.178);
  color: #fff;
}
.description{
  resize: none;
  width: 20%;
  overflow: hidden;
  min-height: 100px;
}