.footer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #1d1d1d;
  color: #fff;
  height: 7vh;
  width: 100%;
}

.footer a{
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}
