.container{
  display: flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
  background-color: #2c2c2c;
  max-width: 100%;
  margin: 15px auto;
  padding:15px;
  border-radius: 10px;
  color: #fff;
}

.card{
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 50%;
  border-radius: 10px;
  color: #000;
  margin: 10px;
}

.info{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  color: #808080;
  font-size: 0.8rem;
}
.userDate{
  display: flex;
  align-items: center;
}
.userDate > p{
  color: #808080;
  font-size: 0.8rem;
  text-align: end;
  width: 80%;
}
.userDate .imgProfile {
  margin:10px;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: 3px solid #404040;
  display: flex;
  overflow: hidden;
  box-shadow: 1px 1px 10px #404040;
}
.userDate img {
  object-fit: cover;
}
/* @media screen and (min-width: 360px) {
  .container{
    max-width:100%
  }
  .card{
    min-width: 70%;
    height:auto;
  }
  
}
@media screen and (min-width: 768px) {
  .container{
    max-width:80%
  }
  .card{
    min-width: 80%;
    height:auto;
  }
  
}
@media screen and (min-width: 800px) {
  .container{
    max-width:80%
  }
  .card{
    min-width: 75%;
    height:auto;
  }
  
}

@media screen and (min-width: 1024px) {
  .container{
    max-width:70%
  }
  .card{
    min-width: 65%;
    height:auto;
  }
  
}
@media screen and (min-width: 1440px) {
  .container{
    max-width:100%
  }
  .card{
    max-width: 60%;
    height:auto;
  }
  
}
@media screen and (min-width: 1920px) {
  .container{
    max-width:100%
  }
  .card{
    max-width: 40%;
    height:auto;
  }
  
}
 */
