.container{
  margin-top: 10px;
}
/* //#ffffff #c5c8c8 #001920 #2ecb72  */
/* // #1b65a7 #040615 #f2f4f5 #ffffff */
.card{
  display: flex;
  flex-direction: column;
  background-color: #d8dada;
  width: 60%;
  height:200px;
  border-radius: 10px;
  color: #000;
  margin-bottom: 15px;
}

.info{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
  color: #808080;
  font-size: 0.7rem;
}
.post{
  font-size:1rem;
}
.userDate{
  display: flex;
  align-items: center;
}
.userDate > p{
  font-size: 0.8rem;
  text-align: end;
  width: 80%;
}
.userDate .imgProfile {
  margin:10px;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: 3px solid #404040;
  display: flex;
  overflow: hidden;
  box-shadow: 1px 1px 10px #404040;
  color: white;
}
.userDate img {
  object-fit: cover;
}



/* MEEEE */

