.container{
  display: flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
  background-color: #2c2c2c;
  width: 60%;
  height: 100vh;
  margin: 15px auto;
  padding:15px;
  border-radius: 10px;
  color: #fff;
}

.card{
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 60%;
  height:200px;
  border-radius: 10px;
  color: #000;
  margin: 7px;
}

.info{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
  color: #808080;
  font-size: 0.7rem;
}
.post{
  font-size:1rem;
}
.userDate{
  display: flex;
  align-items: center;
}
.userDate > p{
  color: #808080;
  font-size: 0.8rem;
  text-align: end;
  width: 80%;
}
.userDate .imgProfile {
  margin:10px;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: 3px solid #404040;
  display: flex;
  overflow: hidden;
  box-shadow: 1px 1px 10px #404040;
}
.userDate img {
  object-fit: cover;
}