/* MEEEE */

/* //#ffffff #c5c8c8 #001920 #2ecb72  */
/* // #1b65a7 #040615 #f2f4f5 #ffffff */

.container{
  display: flex;
  flex-direction: column;
  background-color: #f2f4f5;
  margin-top: 2%;
}

.container_a{
  display: flex;
  align-items: center;
}

.container_logo{
  margin:10px;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: 3px solid #404040;
  display: flex;
  overflow: hidden;
  box-shadow: 1px 1px 10px #404040;
  color: white;
}

.container_time{
  flex-grow: 1;
  text-align: end;
}

.container_b{
  display: flex;
  align-items: center;
  justify-content: center;
}

.container_b p{
  margin: 0px 10px;
}