.container {
  min-height: calc(100vh - 70px - 7vh);
  width: 100%;
}
.card {
  margin: 0 auto;
  max-width: 50%;
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 2rem 0;
  background: #151e22;
  z-index: 0;
}
.card:after {
  content: "";
  top: 0;
  position: absolute;
  width: 100%;
  height: 45%;
  height: 40%;
  background: #f8f8f8;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  z-index: -1;
}
.user_photo {
  padding: 0.7rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: #fff;
  font-weight: bold;
}
.user_photo p {
  text-align: center;
}
.user_photo img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 3px solid #151e22;
}
.oculto {
  display: none;
}
.active {
  width: 50%;
  padding: 20px;
  border-radius: 0 0 10px 10px;
  background-color: #151e22;
  margin: 0 auto;
}
.form {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 50%;
  margin: 0 auto;
}
.form input {
  border: none;
  border-radius: 10px;
  padding: 10px;
  margin: 5px;
}
.form button {
  border: none;
  border-radius: 10px;
  padding: 10px;
  width: 40%;
  margin: 5px auto;
}
.btn {
  height: 30px;
  margin-top: 90px;
  margin-right: 5px;
  color: #fff;
}
.error {
  color: red;
}
.containerPost {
  color: #fff;
}
.container_x {
  display: flex;
  flex-direction: column;
  background-color: #f8f8f8;
  margin-bottom: 1%;
  color: rgb(0, 0, 0);
  width: 50%;
  margin: 5% auto;
  border-radius: 10px;
  padding: 10px;
}
.container_a {
  display: flex;
  align-items: center;
}
.container_time {
  flex-grow: 1;
  text-align: end;
}
.container_b {
  display: flex;
  align-items: center;
  justify-content: center;
}
.container_b p {
  margin: 0px 10px;
}
.userDates {
  background-color: #151e22;
  max-width: 50%;
  margin: 0 auto;
  padding: 10px;
  text-align: start;
}
.postProfile {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.payment {
  display: flex;
  flex-direction: row;
  gap: 0.3rem;
}
.toast {
  top: 0;
  right: -50%;
  padding: 10px;
}
.review {
  background-color: #151e22;
  width: 50%;
  margin: 0 auto;
  padding: 1rem;
}
.review form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 0 auto;
  width: 50%;
}
.review form input {
  border: none;
  border-radius: 10px;
  text-align: center;
}
.review form select {
  border: none;
  border-radius: 10px;
  text-align: center;
}
.review form button {
  border: none;
  border-radius: 10px;
}

@media screen and (max-width: 950px) {
  .container_b {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    text-align: start;
  }

  .container_b p {
    width: 100%;
    font-size: 1rem;
  }

  .payment_div {
    display: flex;
  }
}

@media screen and (max-width: 650px) {
  .container_b {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    text-align: center;
  }

  .container_b p {
    width: 100%;
    font-size: 0.8rem;
  }

  .payment_div {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .card {
    margin: 0 auto;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 2rem 0;
    background: #151e22;
    z-index: 0;
  }

  .oculto {
    display: none;
  }

  .active {
    width: 100%;
    padding: 20px;
    border-radius: 0 0 10px 10px;
    background-color: #151e22;
    margin: 0 auto;
  }

  .form_btn {
    width: 100%;
  }
}
@media screen and (max-width: 580px) {
  .card:after {
    height: 40%;
  }
}
