.container{
  display: flex;
  align-items: center;
  justify-content: center;
}

.container_select{
  margin: 2% 3%;
}

@media screen and (max-width:500px){
  .container_select{
    margin: 2% 0%;
  }
}