.container {
  display: flex;
  margin: 15px;
  
}

.containercard {
  display: flex;
  min-width: 15%;
  background-color: #2c2c2c;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 10px;
}
.text {
  margin-bottom: -60px;
  text-align: center;
  color: #fff;
}

.categories {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 15px;
  gap: 7rem;
}
select {
  background-color: rgb(161, 161, 161);
  color: rgb(0, 0, 0);
  padding: 7px;
  border-radius: 10px;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .container {
    display: none;
  }
}
@media screen and (min-width: 1024px) {
  .container {
    min-width: 15%;
  }
  .containercard {
    min-width: 15%;
  }
}
