.container{
  margin: 0.7%;
  border-radius: 10px;
  background-color: #f8f8f8;
  width: 16%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: rgb(0, 0, 0);
}

.container_subcategories{
  margin-left: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 20%;
}

.container_subcategories label{
  font-size: 1.6rem;
  text-align: start;
}

.container_li{
  text-align: start;
  cursor: pointer;
  width: 100%;
  list-style: none;
  transition: all 0.4s;
}
.container_li:hover{
  background-color: #C4CBCA;
}

@media screen and (max-width:1000px){
  .container{
    display: none;
  }
}