.container{
  background-color: #c5c8c8;
  width: 16%;
  height: 92vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.container_subcategories{
  /* border: 2px solid blue; */
  margin-left: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 20%;
}

.container_subcategories label{
  /* border: 2px solid blue; */
  font-size: 1.6rem;
  text-align: start;
}

.container_li{
  /* border: 2px solid white; */
  text-align: start;
  margin-left: 10%;
  cursor: pointer;
  width: 50%;
  list-style: none;
}

@media screen and (max-width:1000px){
  .container{
    display: none;
  }
}