.containerCard {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  color: black;
  height: 80vh;
}
.card {
  background-color: #293c44;
  border-radius: 10px;
  width: 300px;
  height: 60vh;
  color: #fff;
  transition: all 0.1s;
}
.card:hover {
  cursor: pointer;
  height: 410px;
}
.infoPlan h3 {
  background-color: green;
  width: 100%;
  color: white;
}
.product p {
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
}
h2 {
  color: #fff;
}
.approved h1 {
  background-color:green;
  color: white;
  z-index: 1;
  position: absolute;
  top: 20%;
  right: 25%;
  left: 25%;
}
